`Employees Earning More Than Their Managers Write a Pyspark program to find Employees Earning More Than Their Managers`

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *  # Import the function
from pyspark.sql.functions import regexp_replace, col
from pyspark.sql.functions import col, explode, array_repeat
from pyspark.sql.window import Window
import json
spark = SparkSession.builder.getOrCreate()

In [2]:
employee_schema = StructType([
    StructField('id' , IntegerType(), True),
    StructField('name' , StringType(), True), 
    StructField('salary' , IntegerType(), True),
    StructField('managerId' , IntegerType(), True)
])
employee_data = [
    (1, 'Alice', 70000, 3),
    (2, 'Bob', 80000, 1),
    (3, 'Charlie', 90000, None),
    (4, 'David', 60000, 2)
]

emp_df = spark.createDataFrame(data=employee_data, schema=employee_schema)
emp_df.show()

+---+-------+------+---------+
| id|   name|salary|managerId|
+---+-------+------+---------+
|  1|  Alice| 70000|        3|
|  2|    Bob| 80000|        1|
|  3|Charlie| 90000|     NULL|
|  4|  David| 60000|        2|
+---+-------+------+---------+

In [6]:
emp_df_1 = emp_df.alias('e_1')
emp_df_2 = emp_df.alias('e_2')

self_joined = (
    emp_df_1.join(emp_df_2, col('e_1.id') == col('e_2.managerId'), 'inner')\
        .select(col('e_2.name'),col('e_2.salary'),col('e_1.salary').alias('manager_salary')))

self_joined.show()

+-----+------+--------------+
| name|salary|manager_salary|
+-----+------+--------------+
|  Bob| 80000|         70000|
|David| 60000|         80000|
|Alice| 70000|         90000|
+-----+------+--------------+

In [7]:
self_joined.filter(col('salary') > col('manager_salary')).show()

+----+------+--------------+
|name|salary|manager_salary|
+----+------+--------------+
| Bob| 80000|         70000|
+----+------+--------------+