# Diffrent type join

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.functions import regexp_replace, col
from pyspark.sql.window import Window
spark = SparkSession.builder.appName("PySparkPractice").getOrCreate()

#### Create dataset

In [2]:
person = spark.createDataFrame([
    (0, "Alice",0, [100]),
    (1, "Bob", 1, [500, 250,100]),
    (2, "Charlie", 1, [220, 200]),
]).toDF("id", "name", "graduate_program", "spark_status")

person.show()
graduateProgram = spark.createDataFrame([
    (0, "Masters", "IT Department", "School of IT"),
    (1, "PhD", "Business Department", "School of Business"),
    (2, "Masters", "Science Department", "School of Science")
]).toDF("id", "degree", "department", "school")
graduateProgram.show()

sparkStatus = spark.createDataFrame([
    (100, "Vice President"),
    (200, "PMC Member"),
    (250, "Graduated"),
    (220, "Contributor")
]).toDF("id", "status")
sparkStatus.show()

+---+-------+----------------+---------------+
| id|   name|graduate_program|   spark_status|
+---+-------+----------------+---------------+
|  0|  Alice|               0|          [100]|
|  1|    Bob|               1|[500, 250, 100]|
|  2|Charlie|               1|     [220, 200]|
+---+-------+----------------+---------------+

+---+-------+-------------------+------------------+
| id| degree|         department|            school|
+---+-------+-------------------+------------------+
|  0|Masters|      IT Department|      School of IT|
|  1|    PhD|Business Department|School of Business|
|  2|Masters| Science Department| School of Science|
+---+-------+-------------------+------------------+

+---+--------------+
| id|        status|
+---+--------------+
|100|Vice President|
|200|    PMC Member|
|250|     Graduated|
|220|   Contributor|
+---+--------------+

### Inner Join

In [ ]:
joinExpression = person["graduate_program"] == graduateProgram["id"]

person.join(graduateProgram, joinExpression).show()

+---+-------+----------------+---------------+---+-------+-------------------+------------------+
| id|   name|graduate_program|   spark_status| id| degree|         department|            school|
+---+-------+----------------+---------------+---+-------+-------------------+------------------+
|  0|  Alice|               0|          [100]|  0|Masters|      IT Department|      School of IT|
|  2|Charlie|               1|     [220, 200]|  1|    PhD|Business Department|School of Business|
|  1|    Bob|               1|[500, 250, 100]|  1|    PhD|Business Department|School of Business|
+---+-------+----------------+---------------+---+-------+-------------------+------------------+

#### Outer Join

In [9]:
joinType = "outer"
person.join(graduateProgram, joinExpression, joinType).show()

+----+-------+----------------+---------------+---+-------+-------------------+------------------+
|  id|   name|graduate_program|   spark_status| id| degree|         department|            school|
+----+-------+----------------+---------------+---+-------+-------------------+------------------+
|   0|  Alice|               0|          [100]|  0|Masters|      IT Department|      School of IT|
|   1|    Bob|               1|[500, 250, 100]|  1|    PhD|Business Department|School of Business|
|   2|Charlie|               1|     [220, 200]|  1|    PhD|Business Department|School of Business|
|NULL|   NULL|            NULL|           NULL|  2|Masters| Science Department| School of Science|
+----+-------+----------------+---------------+---+-------+-------------------+------------------+

### Left Outer join

In [10]:
Jointype = "left_outer"

person.join(graduateProgram, joinExpression, Jointype).show()

+---+-------+----------------+---------------+---+-------+-------------------+------------------+
| id|   name|graduate_program|   spark_status| id| degree|         department|            school|
+---+-------+----------------+---------------+---+-------+-------------------+------------------+
|  0|  Alice|               0|          [100]|  0|Masters|      IT Department|      School of IT|
|  1|    Bob|               1|[500, 250, 100]|  1|    PhD|Business Department|School of Business|
|  2|Charlie|               1|     [220, 200]|  1|    PhD|Business Department|School of Business|
+---+-------+----------------+---------------+---+-------+-------------------+------------------+

#### Right JOIN